.version.forum /* version checker */
{
	color: #00000A;
	background-color: #DE1D43;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	background-color: transparent;
	border-width: 0px;
	z-index: 1;
	margin-left: auto;
	background-image: none;
	width: 100%;
	border-color: #000000;
	margin-right: auto;
}

#u843-3,#u843-3-bw
{
	z-index: 2;
}

#u1186,#u1186-bw
{
	z-index: 5;
	height: 3px;
}

#u481-4
{
	right: 0px;
	position: fixed;
}

.html
{
	background-color: #173840;
}

body
{
	position: relative;
}

@media (min-width: 650px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 44px;
		padding-bottom: 456px;
		max-width: 1400px;
	}

	#pu843-3
	{
		width: 100%;
	}

	#u843-3,#u843-3-bw
	{
		min-height: 41px;
	}

	#u5072-4
	{
		z-index: 6;
		width: 67px;
		min-height: 18px;
		position: relative;
		margin-right: -10000px;
		margin-top: 11px;
		left: 41.29%;
	}

	#u5072-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 18px;
		width: 67px;
		margin: 11px -10000px 0px 0%;
	}

	#u5072-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 18px;
		width: 67px;
		margin: 11px -10000px 0px 0%;
	}

	#u5078-4
	{
		z-index: 10;
		width: 41px;
		min-height: 18px;
		position: relative;
		margin-right: -10000px;
		margin-top: 11px;
		left: 54.86%;
	}

	#u5078-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 18px;
		width: 41px;
		margin: 11px -10000px 0px 0%;
	}

	#u5078-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 18px;
		width: 41px;
		margin: 11px -10000px 0px 0%;
	}

	#u5084-4
	{
		z-index: 14;
		width: 50px;
		min-height: 18px;
		position: relative;
		margin-right: -10000px;
		margin-top: 11px;
		left: 67.22%;
	}

	#u5084-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 18px;
		width: 50px;
		margin: 11px -10000px 0px 0%;
	}

	#u5084-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 18px;
		width: 50px;
		margin: 11px -10000px 0px 0%;
	}

	#u5090-4
	{
		z-index: 18;
		width: 60px;
		min-height: 18px;
		position: relative;
		margin-right: -10000px;
		margin-top: 11px;
		left: 79.58%;
	}

	#u5090-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 18px;
		width: 60px;
		margin: 11px -10000px 0px 0%;
	}

	#u5090-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 18px;
		width: 60px;
		margin: 11px -10000px 0px 0%;
	}

	#u8372-5
	{
		z-index: 26;
		width: 223px;
		min-height: 32px;
		position: fixed;
		top: 8px;
		left: 22px;
	}

	#u481-4
	{
		z-index: 22;
		bottom: 10px;
	}
}

@media (max-width: 649px)
{
	#muse_css_mq
	{
		background-color: #000289;
	}

	#bp_649.active
	{
		display: block;
	}

	#page
	{
		min-height: 33px;
		padding-bottom: 467px;
		max-width: 649px;
	}

	#pu843-3
	{
		width: 0.01px;
		margin-right: -10000px;
	}

	#u843-3,#u843-3-bw
	{
		min-height: 29px;
	}

	#u1186-bw
	{
		margin-top: 1px;
	}

	#u8358-5
	{
		z-index: 12;
		width: 174px;
		min-height: 8px;
		position: fixed;
		top: 6px;
		left: 50%;
		margin-left: -87px;
	}

	#u481-4
	{
		z-index: 8;
		bottom: -93px;
	}

	#u7444
	{
		z-index: 6;
		width: 35px;
		position: fixed;
		top: 0px;
		right: 20px;
	}

	body
	{
		min-width: 320px;
	}

}

