.version.forum /* version checker */
{
	color: #0000FC;
	background-color: #B773AB;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	background-color: transparent;
	border-width: 0px;
	z-index: 1;
	margin-left: auto;
	background-image: none;
	width: 100%;
	border-color: #000000;
	margin-right: auto;
}

#u843-3,#u843-3-bw
{
	z-index: 2;
}

#u1186,#u1186-bw
{
	z-index: 5;
	height: 3px;
}

#u21509-4
{
	color: #FFFFFF;
	line-height: 1.37;
	position: fixed;
	font-family: advent-pro, sans-serif;
	left: 0px;
	min-height: 30px;
	filter: alpha(opacity=42);
	opacity: 0.42;
	background-color: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=42)";
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 200;
}

#u481-4
{
	position: fixed;
}

.html
{
	background-color: #173840;
}

body
{
	position: relative;
}

@media (min-width: 1266px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 499.9px;
		padding-bottom: 0px;
		max-width: 1922px;
	}

	#page_position_content
	{
		padding-bottom: 456px;
		width: 100%;
	}

	#pu843-3
	{
		width: 100%;
	}

	#u843-3,#u843-3-bw
	{
		min-height: 41px;
	}

	#u12732-4
	{
		z-index: 19;
		min-height: 41px;
		position: relative;
		margin-right: -10000px;
		width: 11.76%;
		left: 70.61%;
	}

	#u12732-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 11.76%;
		margin: 0px -10000px 0px 0%;
	}

	#u12732-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 11.76%;
		margin: 0px -10000px 0px 0%;
	}

	#u5084-4
	{
		z-index: 23;
		min-height: 41px;
		position: relative;
		margin-right: -10000px;
		width: 11.76%;
		left: 58.85%;
	}

	#u12732-4.MuseLinkActive,#u5084-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 11.76%;
		margin: 0px -10000px 0px 0%;
	}

	#u5084-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 11.76%;
		margin: 0px -10000px 0px 0%;
	}

	#u12720-4
	{
		z-index: 27;
		min-height: 41px;
		position: relative;
		margin-right: -10000px;
		width: 11.82%;
		left: 47.04%;
	}

	#u12720-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 11.82%;
		margin: 0px -10000px 0px 0%;
	}

	#u12720-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 11.82%;
		margin: 0px -10000px 0px 0%;
	}

	#u12720-4.MuseLinkActive
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 11.82%;
		margin: 0px -10000px 0px 0%;
	}

	#u12726-4
	{
		z-index: 31;
		min-height: 41px;
		position: relative;
		margin-right: -10000px;
		width: 11.76%;
		left: 35.28%;
	}

	#u5084-4.MuseLinkActive,#u12726-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 11.76%;
		margin: 0px -10000px 0px 0%;
	}

	#u12726-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 11.76%;
		margin: 0px -10000px 0px 0%;
	}

	#u12726-4.MuseLinkActive
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 11.76%;
		margin: 0px -10000px 0px 0%;
	}

	#u11790-5
	{
		z-index: 10;
		width: 220px;
		min-height: 41px;
		position: fixed;
		top: 0px;
		left: 51px;
	}

	#u11790-5:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 220px;
		margin: 0px;
	}

	#u21509-4
	{
		z-index: 15;
		bottom: 0px;
		width: 5.88%;
		max-width: 113px;
	}

	#u481-4
	{
		z-index: 6;
		bottom: 10px;
		right: 0px;
	}
}

@media (min-width: 1117px) and (max-width: 1265px)
{
	#muse_css_mq
	{
		background-color: #0004f1;
	}

	#bp_1265.active
	{
		display: block;
	}

	#page
	{
		min-height: 44px;
		padding-bottom: 456px;
		max-width: 1265px;
	}

	#pu843-3
	{
		width: 0.01px;
		margin-right: -10000px;
	}

	#u843-3,#u843-3-bw
	{
		min-height: 41px;
	}

	#u21509-4
	{
		z-index: 15;
		bottom: 0px;
		width: 5.85%;
		max-width: 74px;
	}

	#u11790-5
	{
		z-index: 10;
		width: 220px;
		min-height: 41px;
		position: fixed;
		top: 0px;
		left: 51px;
	}

	#u11790-5:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 220px;
		margin: 0px;
	}

	#pu12732-4
	{
		width: 0.01px;
		padding-bottom: 41px;
		margin-right: -10000px;
		margin-left: 446px;
	}

	#u12732-4
	{
		z-index: 19;
		width: 149px;
		min-height: 41px;
		position: fixed;
		top: 0px;
		left: 50%;
		margin-left: 261px;
	}

	#u12732-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px 0px 0px 261px;
	}

	#u12732-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px 0px 0px 261px;
	}

	#u12732-4.MuseLinkActive
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px 0px 0px 261px;
	}

	#u5084-4
	{
		z-index: 23;
		width: 149px;
		min-height: 41px;
		position: fixed;
		top: 0px;
		left: 50%;
		margin-left: 112px;
	}

	#u5084-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px 0px 0px 112px;
	}

	#u5084-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px 0px 0px 112px;
	}

	#u5084-4.MuseLinkActive
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px 0px 0px 112px;
	}

	#u12720-4
	{
		z-index: 27;
		width: 149px;
		min-height: 41px;
		position: fixed;
		top: 0px;
		left: 50%;
		margin-left: -38px;
	}

	#u12720-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px 0px 0px -38px;
	}

	#u12720-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px 0px 0px -38px;
	}

	#u12720-4.MuseLinkActive
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px 0px 0px -38px;
	}

	#u12726-4
	{
		z-index: 31;
		width: 149px;
		min-height: 41px;
		position: fixed;
		top: 0px;
		left: 50%;
		margin-left: -186px;
	}

	#u12726-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px 0px 0px -186px;
	}

	#u12726-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px 0px 0px -186px;
	}

	#u12726-4.MuseLinkActive
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px 0px 0px -186px;
	}

	#u481-4
	{
		z-index: 6;
		bottom: 10px;
		right: 0px;
	}

}

@media (min-width: 974px) and (max-width: 1116px)
{
	#muse_css_mq
	{
		background-color: #00045c;
	}

	#bp_1116.active
	{
		display: block;
	}

	#page
	{
		min-height: 499.95px;
		padding-bottom: 0px;
		max-width: 1116px;
	}

	#page_position_content
	{
		padding-bottom: 455px;
		width: 100%;
	}

	#u843-3,#u843-3-bw
	{
		min-height: 41px;
	}

	#pu11790-5
	{
		padding-bottom: 45px;
		margin-top: -41px;
		width: 100%;
	}

	#u11790-5
	{
		z-index: 10;
		width: 220px;
		min-height: 41px;
		position: fixed;
		top: 0px;
		left: 51px;
	}

	#u11790-5:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 220px;
		margin: 0px;
	}

	#u12732-4
	{
		z-index: 19;
		width: 149px;
		min-height: 41px;
		position: fixed;
		top: 0px;
		left: 819px;
	}

	#u12732-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px;
	}

	#u12732-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px;
	}

	#u5084-4
	{
		z-index: 23;
		width: 149px;
		min-height: 41px;
		position: fixed;
		top: 0px;
		left: 670px;
	}

	#u12732-4.MuseLinkActive,#u5084-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px;
	}

	#u5084-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px;
	}

	#u12720-4
	{
		z-index: 27;
		width: 149px;
		min-height: 41px;
		position: fixed;
		top: 0px;
		left: 520px;
	}

	#u5084-4.MuseLinkActive,#u12720-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px;
	}

	#u12720-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px;
	}

	#u12726-4
	{
		z-index: 31;
		width: 149px;
		min-height: 41px;
		position: fixed;
		top: 0px;
		left: 372px;
	}

	#u12720-4.MuseLinkActive,#u12726-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px;
	}

	#u12726-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px;
	}

	#u12726-4.MuseLinkActive
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px;
	}

	#u1186-bw
	{
		margin-top: -4px;
		margin-bottom: -3px;
	}

	#u21509-4
	{
		z-index: 15;
		bottom: 0px;
		width: 5.92%;
		max-width: 66px;
	}

	#u481-4
	{
		z-index: 6;
		bottom: 10px;
		right: 0px;
	}
}

@media (min-width: 934px) and (max-width: 973px)
{
	#muse_css_mq
	{
		background-color: #0003cd;
	}

	#bp_973.active
	{
		display: block;
	}

	#page
	{
		min-height: 499.9px;
		padding-bottom: 0px;
		max-width: 973px;
	}

	#page_position_content
	{
		padding-bottom: 456px;
		width: 100%;
	}

	#pu843-3
	{
		width: 100%;
	}

	#u843-3,#u843-3-bw
	{
		min-height: 41px;
	}

	#u12732-4
	{
		z-index: 19;
		min-height: 41px;
		position: relative;
		margin-right: -10000px;
		width: 15.32%;
		left: 84.18%;
	}

	#u12732-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 15.32%;
		margin: 0px -10000px 0px 0%;
	}

	#u12732-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 15.32%;
		margin: 0px -10000px 0px 0%;
	}

	#u5084-4
	{
		z-index: 23;
		min-height: 41px;
		position: relative;
		margin-right: -10000px;
		width: 15.32%;
		left: 68.86%;
	}

	#u12732-4.MuseLinkActive,#u5084-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 15.32%;
		margin: 0px -10000px 0px 0%;
	}

	#u5084-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 15.32%;
		margin: 0px -10000px 0px 0%;
	}

	#u12720-4
	{
		z-index: 27;
		min-height: 41px;
		position: relative;
		margin-right: -10000px;
		width: 15.32%;
		left: 53.45%;
	}

	#u5084-4.MuseLinkActive,#u12720-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 15.32%;
		margin: 0px -10000px 0px 0%;
	}

	#u12720-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 15.32%;
		margin: 0px -10000px 0px 0%;
	}

	#u12726-4
	{
		z-index: 31;
		min-height: 41px;
		position: relative;
		margin-right: -10000px;
		width: 15.32%;
		left: 38.24%;
	}

	#u12720-4.MuseLinkActive,#u12726-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 15.32%;
		margin: 0px -10000px 0px 0%;
	}

	#u12726-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 15.32%;
		margin: 0px -10000px 0px 0%;
	}

	#u12726-4.MuseLinkActive
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 15.32%;
		margin: 0px -10000px 0px 0%;
	}

	#u11790-5
	{
		z-index: 10;
		width: 220px;
		min-height: 41px;
		position: fixed;
		top: 0px;
		left: 50%;
		margin-left: -436px;
	}

	#u11790-5:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 220px;
		margin: 0px 0px 0px -436px;
	}

	#u21509-4
	{
		z-index: 15;
		bottom: 0px;
		width: 5.86%;
		max-width: 57px;
	}

	#u481-4
	{
		z-index: 6;
		bottom: 10px;
		right: 0px;
	}
}

@media (min-width: 717px) and (max-width: 933px)
{
	#muse_css_mq
	{
		background-color: #0003a5;
	}

	#bp_933.active
	{
		display: block;
	}

	#page
	{
		min-height: 499.9px;
		padding-bottom: 0px;
		max-width: 933px;
	}

	#page_position_content
	{
		padding-bottom: 456px;
		width: 100%;
	}

	#pu843-3
	{
		width: 100%;
	}

	#u843-3,#u843-3-bw
	{
		min-height: 41px;
	}

	#u12732-4
	{
		z-index: 19;
		min-height: 41px;
		position: relative;
		margin-right: -10000px;
		width: 15.33%;
		left: 84.14%;
	}

	#u12732-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 15.33%;
		margin: 0px -10000px 0px 0%;
	}

	#u12732-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 15.33%;
		margin: 0px -10000px 0px 0%;
	}

	#u5084-4
	{
		z-index: 23;
		min-height: 41px;
		position: relative;
		margin-right: -10000px;
		width: 15.33%;
		left: 68.82%;
	}

	#u12732-4.MuseLinkActive,#u5084-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 15.33%;
		margin: 0px -10000px 0px 0%;
	}

	#u5084-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 15.33%;
		margin: 0px -10000px 0px 0%;
	}

	#u12720-4
	{
		z-index: 27;
		min-height: 41px;
		position: relative;
		margin-right: -10000px;
		width: 15.33%;
		left: 53.49%;
	}

	#u5084-4.MuseLinkActive,#u12720-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 15.33%;
		margin: 0px -10000px 0px 0%;
	}

	#u12720-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 15.33%;
		margin: 0px -10000px 0px 0%;
	}

	#u12726-4
	{
		z-index: 31;
		min-height: 41px;
		position: relative;
		margin-right: -10000px;
		width: 15.33%;
		left: 38.27%;
	}

	#u12720-4.MuseLinkActive,#u12726-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 15.33%;
		margin: 0px -10000px 0px 0%;
	}

	#u12726-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 15.33%;
		margin: 0px -10000px 0px 0%;
	}

	#u12726-4.MuseLinkActive
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 15.33%;
		margin: 0px -10000px 0px 0%;
	}

	#u11790-5
	{
		z-index: 10;
		width: 220px;
		min-height: 41px;
		position: fixed;
		top: 0px;
		left: 31px;
	}

	#u11790-5:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 220px;
		margin: 0px;
	}

	#u21509-4
	{
		z-index: 15;
		bottom: 0px;
		width: 5.9%;
		max-width: 55px;
	}

	#u481-4
	{
		z-index: 6;
		bottom: 10px;
		right: 0px;
	}
}

@media (max-width: 716px)
{
	#muse_css_mq
	{
		background-color: #0002cc;
	}

	#bp_716.active
	{
		display: block;
	}

	#page
	{
		min-height: 33px;
		padding-bottom: 467px;
		max-width: 716px;
	}

	#pu843-3
	{
		width: 0.01px;
		margin-right: -10000px;
	}

	#u843-3,#u843-3-bw
	{
		min-height: 29px;
	}

	#u1186-bw
	{
		margin-top: 1px;
	}

	#u21509-4
	{
		z-index: 17;
		bottom: -8px;
		width: 5.87%;
		max-width: 42px;
	}

	#u8358-5
	{
		z-index: 12;
		width: 174px;
		min-height: 8px;
		position: fixed;
		top: 6px;
		left: 50%;
		margin-left: -87px;
	}

	#u481-4
	{
		z-index: 8;
		bottom: 0px;
		right: 250px;
	}

	#u7444
	{
		z-index: 6;
		width: 35px;
		position: fixed;
		top: 0px;
		right: 20px;
	}

	body
	{
		min-width: 320px;
	}

}

