.version.goals /* version checker */
{
	color: #0000F4;
	background-color: #27711F;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	background-color: transparent;
	border-width: 0px;
	z-index: 1;
	margin-left: auto;
	background-image: none;
	width: 100%;
	border-color: #000000;
	margin-right: auto;
}

#pu843-3
{
	width: 100%;
}

#u843-3,#u843-3-bw
{
	min-height: 41px;
	z-index: 2;
}

#u477-6
{
	z-index: 6;
	position: relative;
	width: 213px;
	margin-top: 7px;
	margin-right: -10000px;
}

#u1408-4
{
	z-index: 12;
	position: relative;
	min-height: 18px;
	margin-top: 11px;
	margin-right: -10000px;
}

#u1411-4
{
	z-index: 16;
	position: relative;
	min-height: 18px;
	margin-top: 11px;
	margin-right: -10000px;
}

#u1414-4
{
	z-index: 20;
	position: relative;
	min-height: 18px;
	margin-top: 11px;
	margin-right: -10000px;
}

#u1186,#u1186-bw
{
	z-index: 5;
	height: 3px;
}

#u4259-6
{
	z-index: 24;
	position: relative;
}

#u481-4
{
	right: 0px;
	z-index: 30;
	position: fixed;
}

.html
{
	background-color: #173840;
}

body
{
	position: relative;
}

@media (min-width: 968px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 460px;
		padding-bottom: 40px;
		max-width: 1400px;
	}

	#u477-6
	{
		left: 1.5%;
	}

	#u1408-4
	{
		width: 157px;
		left: 38.08%;
	}

	#u1411-4
	{
		width: 158px;
		left: 50.72%;
	}

	#u1414-4
	{
		width: 158px;
		left: 63.36%;
	}

	#pu1186
	{
		margin-top: 60px;
		width: 100%;
	}

	#u4259-6
	{
		width: 1552px;
		margin-right: -10000px;
		left: -5.43%;
	}

	#u481-4
	{
		bottom: -33px;
	}
}

@media (max-width: 967px)
{
	#muse_css_mq
	{
		background-color: #0003c7;
	}

	#bp_967.active
	{
		display: block;
	}

	#page
	{
		min-height: 500px;
		max-width: 967px;
	}

	#page_position_content
	{
		padding-bottom: 40px;
		width: 100%;
	}

	#u477-6
	{
		left: 1.45%;
	}

	#u1408-4
	{
		width: 11.17%;
		left: 38.06%;
	}

	#u1411-4
	{
		width: 11.28%;
		left: 50.68%;
	}

	#u1414-4
	{
		width: 11.28%;
		left: 63.4%;
	}

	#u1186-bw
	{
		margin-top: 1px;
	}

	#u4259-6
	{
		margin-top: 56px;
		left: -5.38%;
	}

	#u481-4
	{
		bottom: 10px;
	}

	body
	{
		min-width: 320px;
	}
}

