.subhead-serif
{
	font-family: gentium-book-basic-i7, sans-serif;
}

.heading,.subhead
{
	font-family: open-sans-condensed-n7, sans-serif;
}

.body
{
	font-family: gentium-book-basic-n4, sans-serif;
}

.Menu-Buttons
{
	font-family: dosis-n3, sans-serif;
}

