.Form_Empty
{
	font-family: open-sans-n3, sans-serif;
}

.Title_Small
{
	font-family: museo-sans-n9, sans-serif;
}

.Text_Body,.Text_Phone_Body
{
	font-family: open-sans-n4, sans-serif;
}

.Title_Speaker,.Subtitle
{
	font-family: fira-sans-n5, sans-serif;
}

.Title,.Title_Phone
{
	font-family: josefin-n3, sans-serif;
}

#u1771-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1772-4
{
	font-family: open-sans-n3, sans-serif;
}


