.version.index /* version checker */
{
	color: #00001E;
	background-color: #CC9E9F;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	background-color: transparent;
	border-width: 0px;
	z-index: 1;
	margin-left: auto;
	background-image: none;
	width: 100%;
	border-color: #000000;
	margin-right: auto;
}

#u843-3,#u843-3-bw
{
	z-index: 2;
}

#u1186,#u1186-bw
{
	z-index: 5;
	height: 3px;
}

#u481-4
{
	position: fixed;
}

.html
{
	background-color: #173840;
}

body
{
	position: relative;
}

@media (min-width: 1266px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 499.9px;
		padding-bottom: 0px;
		max-width: 1922px;
	}

	#page_position_content
	{
		padding-bottom: 456px;
		width: 100%;
	}

	#pu843-3
	{
		width: 100%;
	}

	#u843-3,#u843-3-bw
	{
		min-height: 41px;
	}

	#u12732-4
	{
		z-index: 15;
		min-height: 41px;
		position: relative;
		margin-right: -10000px;
		width: 11.76%;
		left: 70.61%;
	}

	#u12732-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 11.76%;
		margin: 0px -10000px 0px 0%;
	}

	#u12732-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 11.76%;
		margin: 0px -10000px 0px 0%;
	}

	#u5084-4
	{
		z-index: 19;
		min-height: 41px;
		position: relative;
		margin-right: -10000px;
		width: 11.76%;
		left: 58.85%;
	}

	#u12732-4.MuseLinkActive,#u5084-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 11.76%;
		margin: 0px -10000px 0px 0%;
	}

	#u5084-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 11.76%;
		margin: 0px -10000px 0px 0%;
	}

	#u12720-4
	{
		z-index: 23;
		min-height: 41px;
		position: relative;
		margin-right: -10000px;
		width: 11.82%;
		left: 47.04%;
	}

	#u12720-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 11.82%;
		margin: 0px -10000px 0px 0%;
	}

	#u12720-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 11.82%;
		margin: 0px -10000px 0px 0%;
	}

	#u12720-4.MuseLinkActive
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 11.82%;
		margin: 0px -10000px 0px 0%;
	}

	#u12726-4
	{
		z-index: 27;
		min-height: 41px;
		position: relative;
		margin-right: -10000px;
		width: 11.76%;
		left: 35.28%;
	}

	#u5084-4.MuseLinkActive,#u12726-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 11.76%;
		margin: 0px -10000px 0px 0%;
	}

	#u12726-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 11.76%;
		margin: 0px -10000px 0px 0%;
	}

	#u12726-4.MuseLinkActive
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 11.76%;
		margin: 0px -10000px 0px 0%;
	}

	#u11790-5
	{
		z-index: 10;
		width: 220px;
		min-height: 41px;
		position: fixed;
		top: 0px;
		left: 51px;
	}

	#u11790-5:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 220px;
		margin: 0px;
	}

	#u481-4
	{
		z-index: 6;
		bottom: 10px;
		right: 0px;
	}

}

@media (min-width: 1117px) and (max-width: 1265px)
{
	#muse_css_mq
	{
		background-color: #0004f1;
	}

	#bp_1265.active
	{
		display: block;
	}

	#page
	{
		min-height: 44px;
		padding-bottom: 456px;
		max-width: 1265px;
	}

	#pu843-3
	{
		width: 0.01px;
		margin-right: -10000px;
	}

	#u843-3,#u843-3-bw
	{
		min-height: 41px;
	}

	#u11790-5
	{
		z-index: 10;
		width: 220px;
		min-height: 41px;
		position: fixed;
		top: 0px;
		left: 51px;
	}

	#u11790-5:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 220px;
		margin: 0px;
	}

	#pu12732-4
	{
		width: 0.01px;
		padding-bottom: 41px;
		margin-right: -10000px;
		margin-left: 446px;
	}

	#u12732-4
	{
		z-index: 15;
		width: 149px;
		min-height: 41px;
		position: fixed;
		top: 0px;
		left: 50%;
		margin-left: 261px;
	}

	#u12732-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px 0px 0px 261px;
	}

	#u12732-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px 0px 0px 261px;
	}

	#u12732-4.MuseLinkActive
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px 0px 0px 261px;
	}

	#u5084-4
	{
		z-index: 19;
		width: 149px;
		min-height: 41px;
		position: fixed;
		top: 0px;
		left: 50%;
		margin-left: 112px;
	}

	#u5084-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px 0px 0px 112px;
	}

	#u5084-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px 0px 0px 112px;
	}

	#u5084-4.MuseLinkActive
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px 0px 0px 112px;
	}

	#u12720-4
	{
		z-index: 23;
		width: 149px;
		min-height: 41px;
		position: fixed;
		top: 0px;
		left: 50%;
		margin-left: -38px;
	}

	#u12720-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px 0px 0px -38px;
	}

	#u12720-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px 0px 0px -38px;
	}

	#u12720-4.MuseLinkActive
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px 0px 0px -38px;
	}

	#u12726-4
	{
		z-index: 27;
		width: 149px;
		min-height: 41px;
		position: fixed;
		top: 0px;
		left: 50%;
		margin-left: -186px;
	}

	#u12726-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px 0px 0px -186px;
	}

	#u12726-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px 0px 0px -186px;
	}

	#u12726-4.MuseLinkActive
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px 0px 0px -186px;
	}

	#u481-4
	{
		z-index: 6;
		bottom: 10px;
		right: 0px;
	}

}

@media (min-width: 974px) and (max-width: 1116px)
{
	#muse_css_mq
	{
		background-color: #00045c;
	}

	#bp_1116.active
	{
		display: block;
	}

	#page
	{
		min-height: 499.95px;
		padding-bottom: 0px;
		max-width: 1265px;
	}

	#page_position_content
	{
		padding-bottom: 455px;
		width: 100%;
	}

	#u843-3,#u843-3-bw
	{
		min-height: 41px;
	}

	#pu11790-5
	{
		padding-bottom: 45px;
		margin-top: -41px;
		width: 113.36%;
	}

	#u11790-5
	{
		z-index: 10;
		width: 220px;
		min-height: 41px;
		position: fixed;
		top: 0px;
		left: 51px;
	}

	#u11790-5:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 220px;
		margin: 0px;
	}

	#u12732-4
	{
		z-index: 15;
		width: 149px;
		min-height: 41px;
		position: fixed;
		top: 0px;
		left: 819px;
	}

	#u12732-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px;
	}

	#u12732-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px;
	}

	#u5084-4
	{
		z-index: 19;
		width: 149px;
		min-height: 41px;
		position: fixed;
		top: 0px;
		left: 670px;
	}

	#u12732-4.MuseLinkActive,#u5084-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px;
	}

	#u5084-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px;
	}

	#u12720-4
	{
		z-index: 23;
		width: 149px;
		min-height: 41px;
		position: fixed;
		top: 0px;
		left: 520px;
	}

	#u5084-4.MuseLinkActive,#u12720-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px;
	}

	#u12720-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px;
	}

	#u12726-4
	{
		z-index: 27;
		width: 149px;
		min-height: 41px;
		position: fixed;
		top: 0px;
		left: 372px;
	}

	#u12720-4.MuseLinkActive,#u12726-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px;
	}

	#u12726-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px;
	}

	#u12726-4.MuseLinkActive
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 149px;
		margin: 0px;
	}

	#u1186-bw
	{
		margin-top: -4px;
		margin-bottom: -3px;
	}

	#u481-4
	{
		z-index: 6;
		bottom: 10px;
		right: 0px;
	}

}

@media (min-width: 934px) and (max-width: 973px)
{
	#muse_css_mq
	{
		background-color: #0003cd;
	}

	#bp_973.active
	{
		display: block;
	}

	#page
	{
		min-height: 499.9px;
		padding-bottom: 0px;
		max-width: 1265px;
	}

	#page_position_content
	{
		padding-bottom: 456px;
		width: 100%;
	}

	#pu843-3
	{
		width: 130.02%;
	}

	#u843-3,#u843-3-bw
	{
		min-height: 41px;
	}

	#u12732-4
	{
		z-index: 15;
		min-height: 41px;
		position: relative;
		margin-right: -10000px;
		width: 11.78%;
		left: 64.75%;
	}

	#u12732-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 11.78%;
		margin: 0px -10000px 0px 0%;
	}

	#u12732-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 11.78%;
		margin: 0px -10000px 0px 0%;
	}

	#u5084-4
	{
		z-index: 19;
		min-height: 41px;
		position: relative;
		margin-right: -10000px;
		width: 11.78%;
		left: 52.97%;
	}

	#u12732-4.MuseLinkActive,#u5084-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 11.78%;
		margin: 0px -10000px 0px 0%;
	}

	#u5084-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 11.78%;
		margin: 0px -10000px 0px 0%;
	}

	#u12720-4
	{
		z-index: 23;
		min-height: 41px;
		position: relative;
		margin-right: -10000px;
		width: 11.78%;
		left: 41.11%;
	}

	#u5084-4.MuseLinkActive,#u12720-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 11.78%;
		margin: 0px -10000px 0px 0%;
	}

	#u12720-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 11.78%;
		margin: 0px -10000px 0px 0%;
	}

	#u12726-4
	{
		z-index: 27;
		min-height: 41px;
		position: relative;
		margin-right: -10000px;
		width: 11.78%;
		left: 29.41%;
	}

	#u12720-4.MuseLinkActive,#u12726-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 11.78%;
		margin: 0px -10000px 0px 0%;
	}

	#u12726-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 11.78%;
		margin: 0px -10000px 0px 0%;
	}

	#u12726-4.MuseLinkActive
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 11.78%;
		margin: 0px -10000px 0px 0%;
	}

	#u11790-5
	{
		z-index: 10;
		width: 220px;
		min-height: 41px;
		position: fixed;
		top: 0px;
		left: 50%;
		margin-left: -436px;
	}

	#u11790-5:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 220px;
		margin: 0px 0px 0px -436px;
	}

	#u481-4
	{
		z-index: 6;
		bottom: 10px;
		right: 0px;
	}

}

@media (min-width: 717px) and (max-width: 933px)
{
	#muse_css_mq
	{
		background-color: #0003a5;
	}

	#bp_933.active
	{
		display: block;
	}

	#page
	{
		min-height: 499.9px;
		padding-bottom: 0px;
		max-width: 1265px;
	}

	#page_position_content
	{
		padding-bottom: 456px;
		width: 100%;
	}

	#pu843-3
	{
		width: 135.59%;
	}

	#u843-3,#u843-3-bw
	{
		min-height: 41px;
	}

	#u12732-4
	{
		z-index: 15;
		min-height: 41px;
		position: relative;
		margin-right: -10000px;
		width: 11.31%;
		left: 62.06%;
	}

	#u12732-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 11.31%;
		margin: 0px -10000px 0px 0%;
	}

	#u12732-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 11.31%;
		margin: 0px -10000px 0px 0%;
	}

	#u5084-4
	{
		z-index: 19;
		min-height: 41px;
		position: relative;
		margin-right: -10000px;
		width: 11.31%;
		left: 50.76%;
	}

	#u12732-4.MuseLinkActive,#u5084-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 11.31%;
		margin: 0px -10000px 0px 0%;
	}

	#u5084-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 11.31%;
		margin: 0px -10000px 0px 0%;
	}

	#u12720-4
	{
		z-index: 23;
		min-height: 41px;
		position: relative;
		margin-right: -10000px;
		width: 11.31%;
		left: 39.45%;
	}

	#u5084-4.MuseLinkActive,#u12720-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 11.31%;
		margin: 0px -10000px 0px 0%;
	}

	#u12720-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 11.31%;
		margin: 0px -10000px 0px 0%;
	}

	#u12726-4
	{
		z-index: 27;
		min-height: 41px;
		position: relative;
		margin-right: -10000px;
		width: 11.31%;
		left: 28.23%;
	}

	#u12720-4.MuseLinkActive,#u12726-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 11.31%;
		margin: 0px -10000px 0px 0%;
	}

	#u12726-4:active
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 11.31%;
		margin: 0px -10000px 0px 0%;
	}

	#u12726-4.MuseLinkActive
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 11.31%;
		margin: 0px -10000px 0px 0%;
	}

	#u11790-5
	{
		z-index: 10;
		width: 220px;
		min-height: 41px;
		position: fixed;
		top: 0px;
		left: 31px;
	}

	#u11790-5:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 41px;
		width: 220px;
		margin: 0px;
	}

	#u481-4
	{
		z-index: 6;
		bottom: 10px;
		right: 0px;
	}

}

@media (max-width: 716px)
{
	#muse_css_mq
	{
		background-color: #0002cc;
	}

	#bp_716.active
	{
		display: block;
	}

	#page
	{
		min-height: 33px;
		padding-bottom: 467px;
		max-width: 1265px;
	}

	#pu843-3
	{
		width: 0.01px;
		margin-right: -10000px;
	}

	#u843-3,#u843-3-bw
	{
		min-height: 29px;
	}

	#u1186-bw
	{
		margin-top: 1px;
	}

	#u8358-5
	{
		z-index: 12;
		width: 174px;
		min-height: 8px;
		position: fixed;
		top: 6px;
		left: 50%;
		margin-left: -87px;
	}

	#u481-4
	{
		z-index: 8;
		bottom: 0px;
		right: 250px;
	}

	#u7444
	{
		z-index: 6;
		width: 35px;
		position: fixed;
		top: 0px;
		right: 20px;
	}

	body
	{
		min-width: 320px;
	}

}

