#u843-3
{
	-pie-background: linear-gradient(left,#00006C ,#00407B 66%);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=83)";
	opacity: 0.83;
	filter: alpha(opacity=83);
	background-size: 100% auto;
}

#u1408-4,#u1411-4,#u1414-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	font-family: advent-pro, sans-serif;
	letter-spacing: 2px;
	line-height: 18px;
	font-weight: 400;
}

#u1186
{
	background-color: #998675;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=32)";
	opacity: 0.32;
	filter: alpha(opacity=32);
}

#u477-6_img,#u4259-6_img,#u481-4
{
	vertical-align: top;
	display: block;
}

@media (min-width: 968px)
{
	#u843-3
	{
		background: -webkit-gradient(linear, left center, right center, from(#00006C),color-stop(66%, #00407B));
		background: -webkit-linear-gradient(left,#00006C ,#00407B 66%);
		background: linear-gradient(to right,#00006C ,#00407B 66%);
	}

}

@media (max-width: 967px)
{
	#u843-3
	{
		background: -webkit-gradient(linear, left center, right center, from(#00006C),color-stop(66%, #00407B));
		background: -webkit-linear-gradient(left,#00006C ,#00407B 66%);
		background: linear-gradient(to right,#00006C ,#00407B 66%);
	}

}

