	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 460px;
		padding-bottom: 40px;
		max-width: 1400px;
	}

	#u477-6
	{
		left: 1.5%;
	}

	#u1408-4
	{
		width: 157px;
		left: 38.08%;
	}

	#u1411-4
	{
		width: 158px;
		left: 50.72%;
	}

	#u1414-4
	{
		width: 158px;
		left: 63.36%;
	}

	#pu1186
	{
		margin-top: 60px;
		width: 100%;
	}

	#u4259-6
	{
		width: 1552px;
		margin-right: -10000px;
		left: -5.43%;
	}

	#u481-4
	{
		bottom: -33px;
	}

