/*Testing Stylesheet*/

/* #headdiv {
    background-color: black;
    height: 85px;
    margin-top: 0px;
    padding-top: 0px;
}
*/
body {
    background: -moz-linear-gradient(bottom right, #0a0e10, #1e3134); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #0a0e10, #1e3134); /* Standard syntax */
    background-clip: padding-box;
    margin: 0px;
}

#parentDiv {
    
}

header {
    height: auto;
    width: 100%;
    padding-bottom: 10px;
    background: -moz-linear-gradient(bottom right, #0a0e10, #1e3134); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #0a0e10, #1e3134); /* Standard syntax */
    margin: 0px;
}

#headerTitle {
    text-align: center;
    letter-spacing: 3px;
    word-spacing: 10px;
    font-family: 'Raleway', 'Jura', sans-serif;
    font-weight: 100;
    font-size: 22px;
    color: white;
    padding-top: 3px;
    padding-bottom: 1px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#devState {
    text-align: center;
    font: message-box;
    font-size:11px;
    font-family: 'Jura',sans-serif;
    color: #ffff80;
    line-height: 1px;
    padding-top: 2px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#contentDiv {
    height: 450px;
    width: 100%;
    position: static;
    padding-bottom: 1px;
    padding-top: 1px;
    border-top: 1.2px solid #9999ff;
    border-bottom: 1.2px solid #9999ff;
    background: black;
    background-position: static;
    background-size: 100%;
}

#testpageDiv {
    height: 299px;
    width: 100%;
    opacity: 50%;
    position: static;
    text-align: center;
}
/*#testpageText {
    position:absolute;
    width: 100%;
    letter-spacing: 45px;
    color: #9999ff;
    font-size: 55px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    opacity: 0.6;
    padding-top: 30px;
    padding-left: 21px;
}*/

#misDiv {
	font-family: Vollkorn, serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	color: #009933;
	text-decoration: none;
	text-align: center;
	vertical-align: top;
	white-space: normal;
	display: none;
	position: static;
	height: auto;
	width: 75%;
	left: auto;
	right: auto;
}

#missionDiv {
    padding-left: 10px;
	padding-right: 10px;
}

/* #goal1 {
    text-align: center;
    color: #009933;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    font-size: 18px;
} */
#goal1 {
    text-align: center;
    padding-top: 15px;
    color: #009933;
    font-size: 18px;
    font-family: 'Vollkorn', serif;
    font-weight: 400;
    margin-top: 0px;
}

#goal2 {
    text-align: center;
    font-size: 15px;
    color: #4d8f63;
    font-family: 'Vollkorn', serif;
    font-weight: 100;
    font-style: normal;
}