#u2145
{
	border-width: 0px;
	border-color: transparent;
	background-color: #EDEDED;
}

#u1783-4
{
	background-color: transparent;
	letter-spacing: 1px;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u1784-4
{
	background-color: transparent;
	color: #999999;
	font-size: 13px;
	letter-spacing: 6px;
	line-height: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u1786
{
	vertical-align: top;
	background: url("../../images/u1786.png") no-repeat 0px 0px;
}

#u1786:hover
{
	background: url("../../images/u1786-r.png") no-repeat 0px 0px;
}

#u1788
{
	vertical-align: top;
	background: url("../../images/u1788.png") no-repeat 0px 0px;
}

#u1788:hover
{
	background: url("../../images/u1788-r.png") no-repeat 0px 0px;
}

#u1790
{
	vertical-align: top;
	background: url("../../images/u1790.png") no-repeat 0px 0px;
}

#u1790:hover
{
	background: url("../../images/u1790-r.png") no-repeat 0px 0px;
}

