.version.index /* version checker */
{
	color: #0000F8;
	background-color: #30ED33;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 0px;
	min-height: 0px;
	background: transparent url("../../images/u4016-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#1E1E1E),color-stop(26%, rgba(0,0,0,0.21)));
	background: -webkit-linear-gradient(top,#1E1E1E ,rgba(0,0,0,0.21) 461px);
	background: linear-gradient(to bottom,#1E1E1E ,rgba(0,0,0,0.21) 461px);
	border-width: 0px;
	border-color: #000000;
	padding-top: 128px;
	padding-right: 768px;
	padding-bottom: 896px;
}

.html
{
	background-color: #F4F4F4;
}

body
{
	position: relative;
	min-width: 768px;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

